.Base {
	background-color: #f6f6f6;
	height: "100%";
	text-align: center;
	justify-content: center;
}

.Title {
	align-items: center;
	text-align: center;
}

.AddKanbanButton {
	width: 350px;
	height: 200px;
	min-width: 100%;
}

.ExistingKanban {
	margin: 20px;
	float: left;
	width: 350px;
	height: 200px;
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}

.LinkToIndividualBoard {
	width: 250px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.BodyKanban {
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	display: flex;
	align-items: center;
}
